@import "../../scss/variables.scss";

.header {
  max-width: 95vw;
  margin-inline: auto;
  padding: 2em 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 100;

  h2 {
    font-weight: 300;
    color: $color-primary;
    cursor: pointer;
  }

  .headerFunc {
    background-color: #5d5d78;
    display: flex;
    border-radius: 20px;
    width: 180px;

    div {
      flex: 1;
      padding: 10px 0;
      text-align: center;
      color: #fff;
      cursor: pointer;
    }
  }
  
  .download_btn {
    font-size: 1.2rem;
    padding: 0.5em 1.2em;
    border-radius: 15px;
    border: none;
    outline: none;
    color: $color-primary;
    background-color: $app-color-10;
    cursor: pointer;
  }
}



