.sidebar {
    width: 300px;
    padding: 2em 2em;
    height: max-content;
    position: sticky;
    top: 108px;
}

.Add_Btn{
    background-color: white;
    width: 60px;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
    cursor: pointer;
    color: #1B9C85;
    margin-inline: auto;
}

.Add_Btn i{
    font-size: 1.5rem;
    margin-bottom: 8px;
    margin-top: 5px;
    transition: transform .2s ease;
}