*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.App{
  background-color: #4C4C6D;
  width: 100%;
  min-height: 100vh;
  position: absolute;
}

.main{
  display: flex;
  gap: 2em;
  position: relative;
}