$app-background-color: #4c4c6d;

$app-background-dark: #313b47;

$app-color-10: #1b9c85;

$color-primary: #fff;

//side function
$side-function-bg : #303c65;

//resume
$resume-bg-primary : #455aa3;
$resume-bg-dark : #374882;
